html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

h1 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: 1em;
  color: #2f3940; }

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  font-size: .7em;
  color: #9ea9b2; }

.load-more {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-weight: 500;
  color: #2f3940;
  border: 1px solid #b4babe;
  padding: 10px 14px;
  border-radius: 4px; }
  .load-more:hover {
    background-color: #e8e8e8; }

.disabled {
  color: #9ea9b2; }
  .disabled:hover {
    background-color: #f6f6f6; }

body {
  background-color: #e9e9e9; }

header, footer, section {
  background-color: #e9e9e9;
  width: 100%;
  position: fixed;
  z-index: 10; }

section {
  top: 50px; }

footer {
  position: relative; }

.inner-header, .inner-footer {
  max-width: 540px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #b4babe;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.inner-section {
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 540px;
  margin: 0 auto;
  border-left: 1px solid #b4babe;
  border-right: 1px solid #b4babe; }

.inner-footer {
  padding-top: 20px;
  height: 140px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.header-logo {
  width: 110px; }

main {
  max-width: 540px;
  background-color: #f6f6f6;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 370px 4px 10px;
  border-left: 1px solid #b4babe;
  border-right: 1px solid #b4babe;
  text-align: center; }

article {
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  margin: 8px auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #f6f6f6;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  cursor: pointer;
  max-width: 500px;
  text-align: left; }
  article:hover {
    border: 2px solid rgba(237, 164, 163, 0.8); }

.thumb-container {
  width: 112px;
  height: 80px;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .thumb-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.vid-details {
  padding: 8px 22px; }

.description {
  margin-top: 4px;
  word-wrap: break-word;
  word-break: break-word; }

.wrapper {
  max-width: 540px;
  overflow: hidden;
  margin: 0 auto; }

.videoWrapper {
  position: relative;
  padding-bottom: 54%;
  /* 16:9 */
  padding-top: 12px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*----------  Break Point 1 - 500px  ----------*/
@media only screen and (max-width: 500px) {
  body {
    font-size: 14px; }
  article {
    padding: 0px 8px; }
  .vid-details {
    padding: 14px; }
  .inner-header,
  .inner-footer,
  .inner-section,
  main {
    border: none; }
  .inner-header {
    border-bottom: 1px solid #b4babe; }
  main {
    padding: 330px 4px 10px; }
  .videoWrapper {
    padding-bottom: 53%; } }

/*----------  Break Point 1 - 430px  ----------*/
@media only screen and (max-width: 430px) {
  main {
    padding: 290px 4px 10px; } }

/*----------  Break Point 1 - 400px  ----------*/
@media only screen and (max-width: 400px) {
  main {
    padding: 270px 4px 10px; } }

/*----------  Orientation  ----------*/
@media screen and (max-width: 700px) and (orientation: landscape) {
  footer, section {
    position: static; }
  section {
    padding-top: 50px; }
  article {
    padding: 0px 8px; }
  .vid-details {
    padding: 14px; }
  main {
    padding: 20px 4px 10px; } }
