html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

a:focus, button:focus {
  outline: none; }

h1 {
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -0.05em; }

h2 {
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.05em; }

h3 {
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: -0.05em; }

span {
  color: #ee1111; }

a {
  font-family: 'Muli', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out; }

main {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  position: fixed; }

header {
  position: absolute;
  top: 0; }

section {
  position: absolute;
  top: 2%;
  height: 100vh;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.logo {
  color: white;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); }

.videoWrapper {
  position: relative;
  padding-bottom: 54%;
  /* 16:9 */
  padding-top: 22px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  margin: 20px auto; }

.item {
  width: 220px;
  margin: 10px;
  cursor: pointer;
  overflow: hidden; }

.thumb {
  width: 220px;
  height: 122px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 220px auto;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out; }
  .thumb:hover {
    background-size: 250px auto; }

/*----------  Break Point 1 - 1000px  ----------*/
