@mixin font-base {
    font-family: 'Muli', sans-serif;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:  grayscale;
}

h1 {
    @include font-base;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

h2 {
    @include font-base;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

h3 {
    @include font-base;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: -0.05em;
}

span {
    color: #ee1111;
}

a {
    @include font-base;
    transition: color .3s ease-in-out;
}
