@mixin font-base {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-weight: 500;
}

h1 {
    @include font-base;
    font-size: 1em;
    color: $dark;
}

p {
    @include font-base;
    font-size: .7em;
    color: $light;
}

.load-more {
    @include font-base;
    color: $dark;
    border: 1px solid $border;
    padding: 10px 14px;
    border-radius: 4px;
    &:hover {background-color: $hover}
}

.disabled {
    color: $light;
    &:hover {background-color: $white}
}