@mixin font-base {
    font-family: 'Muli', sans-serif;
    text-rendering:  optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:  grayscale;
}

h1 {
    @include font-base;
    font-size: 14rem;
    font-weight: 900;
    letter-spacing: -0.05em;
}

a {
    @include font-base;
    transition: color .3s ease-in-out;
}

::selection {background: saturate($brand, 100)}

::-moz-selection {background: saturate($brand, 100)}