@import "normalise";
@import "colors";
@import "typography";


main {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    filter: blur(10px);
    position: relative;
}

header {
    position: absolute;
    top: 0;
}

section {
    position: absolute;
    top: 15%;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 0 120px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
}

.item {
    width: 220px;
    margin: 10px;
}

.thumb {
    width: 100%;
    height: auto;
}


@import "media-queries";