@import "normalise";
@import "colors";
@import "typography";

body {background-color: #e9e9e9}

header, footer, section {
    background-color: #e9e9e9;
    width: 100%;
    position: fixed;
    z-index: 10;
}

section {top: 50px}

footer {position: relative}

.inner-header, .inner-footer {
    max-width: 540px;
    margin: 0 auto;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border: 1px solid $border;
    border-top: none;
    box-sizing: border-box;
}

.inner-section {
    height: auto;
    box-sizing: border-box;
    max-width: 540px;
    margin: 0 auto;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
}

.inner-footer {
    padding-top: 20px;
    height: 140px;
    align-items: flex-start;
}

.header-logo{width: 110px}

main {
    max-width: 540px;
    background-color: $white;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 370px 4px 10px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    text-align: center;
 }
 
article {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin: 8px auto;
    box-sizing: border-box;
    border: 2px solid $white;
    transition: border .2s ease-in-out;
    cursor: pointer;
    max-width: 500px;
    text-align: left;
    &:hover {
        border: 2px solid $brand;
    }
}

.thumb-container {
    width: 112px;
    height: 80px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    flex-shrink: 0;
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        transform: translate(-50%,-50%);
    }
}

.vid-details {padding: 8px 22px}

.description {
    margin-top: 4px;
    word-wrap: break-word;
    word-break: break-word;
}

.wrapper {
    max-width: 540px;
    overflow: hidden;
    margin: 0 auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 54%; /* 16:9 */
	padding-top: 12px;
    height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@import "media-queries";